*, *::before , *::after{
    box-sizing: border-box;
}

@font-face{
    font-family: nunito;
    src: url(./fonts/Nunito-Regular.ttf) format('truetype');
}

body{
    padding: 0;
    margin: 0 auto;
    font-family: nunito;
    
    
}

/* -------------- HEADER ---------------- */

.header{
    width: 1366px;
    height: 100px;
    margin: 0 auto;
    /* background: wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.contenedor-logo{
    /* background: tomato; */
    width: 50px;
    height: 50px;
}

.menu-lista{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: chocolate; */
    text-decoration: none;
    font-weight: 600;
}

li{
    list-style: none;
}

/* -------------- BANNER ---------------- */

.banner{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    flex-direction: column;
    background: cornflowerblue;
    width: 100%;
    height: 200px;
    color: white;

}
.titulo-banner{
    font-weight: 200;
}
.parrafo-banner{
    width: 600px;
    text-align: center;
}

/* -------------- BUSCADOR ---------------- */
.search{
    width: 940px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
input{
    width: 100%;
    height: 40px;
    background: rgb(235, 235, 235);
    color: white;
    border: none;
    padding: 6px;
}

.buscar{
    color: rgb(0, 0, 0);
}

/* -------------- MAIN ---------------- */

.contenedor-main{
    margin: 0 auto;
    width: 940px;
    
    

}

.main-top-section{
    color: cornflowerblue;
    font-weight: 600;
    font-size: 10pt;
    width: 940px;
    /* background: red; */
    height: 30px;
    padding: 10px 0;
}

.main-top{
    /* background: chocolate; */
    width: 940px;
    height: 300px;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-top-contenedor-info{
    width: 40%;
    height: 100%;
    /* background: coral; */
    display: flex;
    
    justify-content: space-around;
    flex-direction: column;
    padding-right: 20px;
    
}

.main-top-contenedor-info h2{
    font-size: 20pt;
    
}

.contenedor-img-main-top{
    width: 60%;
    height: 100%;
    background-position: center;
    background-size: 10px;
}

.contenedor-img-main-top img{
    width: 100%;
    height: 100%;
    
}
.contenedor-datos{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos-datos{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}







.main-bot{
    margin: 0 auto;
    width: 940px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: chocolate; */
    margin-top: 20px;
    font-size: 8pt;
}

.articulo{
    width: 30%;
    height: 100%;
}

.main-bot img{
    width: 100%;
    
    
}

.iconos-datos img{
    width: 15px;
    margin: 0 10px;
}

.contenedor-datos h3{
    color: cornflowerblue;
}

.contenedor-datos p{
    color: rgb(167, 167, 167);
}



/* -------------- DIVISOR ---------------- */

.divisor{
    margin: 0 auto;
    width: 940px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid rgb(219, 219, 219);
    font-size: 8pt;
    font-weight: 600;
}

.divisor p{
    color: cornflowerblue;
}


/* -------------- ALL ARTICLE ---------------- */

.contenedor-articulos{
    margin: 0 auto;
    width: 940px;
    height: 1000px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    font-size: 8pt;

}

.contenedor-articulos h2{
    color: cornflowerblue;


}

.art-img{
    height: 200px;
}

.art-img img{
    height: 100%;
}

.art-info{
    padding-left: 10px;
}

.art-info p{
    width: 80%;
}

.art{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: chocolate; */
}

.articulos-titulo{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 10pt;
}
.articulos-titulo a{
    text-decoration: none;
    color: cornflowerblue;
    font-weight: 600;
}


.post{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: cornflowerblue;
    font-weight: 800;
}


/* -------------- FOOTER ---------------- */

.footer{
    margin: 0 auto;
    background: cornflowerblue;
    width: 100%;
    height: 500px;
    border-radius: 0 100px 0 0;
    
}

.footer-top-info{
    width: 70%;
    height: 250px;
    /* background: chartreuse; */
    display: flex;
    
    justify-content: center;
    flex-direction: column;
}

.footer-top-info p{
    width: 80%;
    display: flex;
    
}

.footer-top{
    margin: 0 auto;
    width: 940px;
    /* background: rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 2px solid white;
}

button{
    width: 150px;
    height: 30px;
    background: #20204b;
    border: none;
    color: white;
}

.footer-bot{
    margin: 0 auto;
    width: 940px;
    height: 200px;
    /* background: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 10pt;
    
    
}

.footer-bot li{
    margin: 10px 0;
}

.lista{
    margin-left: 0;
}


.titulo-lista{
    font-weight: 800;
}

